:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayfish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
* {
  font-family: "Outfit", sans-serif;
}
body {
  background-color: var(--light-gray);
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: var(--white);
  text-align: center;
  border-radius: 20px;
  padding: 15px 5px;
  .card-img {
    padding-top: 5px;
    width: 280px;
    height: 280px;
    border-radius: 10px;
  }
  .title {
    font-weight: 700;
    font-size: 22px;
    margin: 20px 20px;
  }
  .desc {
    margin: 0 20px;
    font-weight: 400;
    color: var(--grayfish-blue);
    font-size: 15px;
    padding-bottom: 20px;
  }
}
